@charset "utf-8";

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*

#5F91BB
#617B91
#4DA1E5
#565F66
#2F363C
#000000

*/



:root {

--cor1:  #6c7c8a;
--cor2:  #77a7ce;
--cor3:  #4DA1E5;
--cor4:  #565F66;
--cor5:  #2F363C;
--cor6:  #000000;


--padrao: 'AppleGara';
--destaque: 'American', cursive;
--citar: 'Built', cursive;


}

* {
    margin: 0;
    padding: 0;
}


header {
    background-color: var(--cor1);
    font-family: 'Android';
    text-align: center;
    font-size: 100px;
    
}

nav{
    background-color: var(--cor5);
}

nav a {
    color: white;
    text-decoration:none;
    margin: 0px 50px 0px 50px;
    padding: 0px;
}


main {
    background-color: var(--cor2);
}



